body, html {
  text-align: center;
  background-image: url('https://media.istockphoto.com/vectors/abstract-shiny-background-with-blank-film-strips-and-copy-space-vector-id1058727850?k=20&m=1058727850&s=612x612&w=0&h=W7Gcv5mFs9IninwTufJRkj8m77af7tmod672UpuXu3g=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  

}




.header {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  margin: 30px 0 30px 0;

}

.header-image {
  max-height: 100px;
  max-width: 100px;
  
}



.movie-list {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.card-image {
max-width: 300px;
max-height: 500px;  
transition: transform 200ms ease-in-out;


}

.card-image:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);


}

.movie-card {
    padding: 1rem;
    background: rgba(209, 208, 208, 0.822);
    border: 1px solid black;
    border-radius: .25rem;
    overflow: hidden;
}

.input {
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 200px;
  
  
  
  

}
.edit-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.remove-button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.input:focus {
  background-color: lightblue;
}

form {
  padding: 2rem;
  
  
} 





